.flex-container {
    display: flex;
}

.flex-inline-container {
    display: inline-flex;
}

.flex-dir-column {
    flex-direction: column;
}

.flex-col {
    flex: 0 0 auto;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-vcenter {
    align-items: center;
}

.flex-vbottom {
    align-items: flex-end;
}

.horizontal-scroll {
    overflow-x: auto;
}

.no-horizontal-scroll {
    overflow-x: hidden;
}

.vertical-scroll {
    overflow-y: auto;
}

.no-vertical-scroll {
    overflow-y: hidden;
}

.d-block {
    display: block;
}

.d-inline_block {
    display: inline-block;
}

.container {
    width: 768px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}

.three-quarter-width {
    width: 75%;
}

.two-third-width {
    width: 66.666666%;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 33.333333%;
}

.quarter-width {
    width: 25%;
}


.full-height {
    height: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}
