.button {
    border: 0;
    border-radius: 3px;
}

.button:not(:disabled) {
    cursor: pointer;
}

/*
.button:focus {
    outline: none;
    opacity: 0.85;
}

.button:active,
.button:hover {
    opacity: 0.75;
}
*/